<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupermarketPlus</title>
    <link rel="stylesheet" href="/home.css">

</head>

<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="images/toppng.com-design-png-hd-logo-design-png-hd-1024x655.png" alt=""
                    width="20" height="100"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>SupermarketPlus</h1>
        </div>

    </section>



</body>

</html>