*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.header{
    max-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(7, 7, 7, 0.7), rgba(11, 3, 0, 0.7)), url('images/xavi-cabrera-DNn2AOy4L1Q-unsplash.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    max-height: 4.8125rem;

    display: flex;
    justify-content:  space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}

.nav-links ul li a{
color: rgb(255, 255, 255);
text-decoration: none;
font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #c49996;
    display: block;
    margin: auto;
    transition: 0.65s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer ;
}
.hero-btn:hover{
    border: 1px solid rgb(213, 134, 134);
    background: rgb(117, 33, 18);
    transition: 1s;
}

nav .fa{
    display: none; 
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(11, 103, 11);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
        text-align: center;
    }
}

/* course */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size:  36px;
    font-weight: 600;
}

p{
    color: green;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #f4ebeb;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


/*  Footer  */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/*---------------   map  ------------------------------------*/

element.style {
    position: relative;
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    -ms-touch-action: none;
    touch-action: none;
}

.sticky{
    z-index: 0;
    transform: translateZ(0);
}

.map-canvas{
    height: calc(100vh - 4.6875rem);
    position: relative;

    margin: 0 auto;
    /* margin-left: auto; 
    margin-right: 0; */
    padding-left: 0.625rem;
    padding-right: 0.4375rem;
}

.product-container{
    background-color: #fff;
    height: calc(100vh - 4.6875rem);
    position: absolute;
    width: 50%;
}

.product-container h2{
    text-align: center;
}

.product-title-container{

    padding: 1.3rem 0.625rem;

}

.product-title-container h1 {
    color: #222;
    font-size: 1.70875rem;
    font-weight: 700;
    line-height: 1.2;
}

.product-title-container h2 {
    color: #575757;
    font-size: .75rem;
    line-height: 1.3;
    margin: 0 0 1.5rem;
}

.filters-container {
    margin: 0 0.625rem 1.25rem;
    justify-content: space-between;
}

.grid-x{
    display: flex;
    flex-flow: row wrap;
}

.range-filter-container {
    margin: 0 0.25rem;
    position: relative;
    width: auto;
}

.range-filter-container.first {
    margin-left: 0;
}

.cell {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}

.range-filter-container .range-filter-btn {
    border: 0.0625rem solid #dadada;
    border-radius: 0.25rem;
    color: #222;
    cursor: pointer;
    outline: none;
    padding: 0.75rem;
}

.filter-container .filter-button {
    border: 0.0625rem solid #dadada;
    border-radius: 0.25rem;
    color: #222;
    cursor: pointer;
    outline: none;
    padding: 0.75rem;
}